body {
  background: #cadefc;
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-header h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 54px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
