.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 6px;
}

.Dictionary .hint {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 12px;
}
